


.form-new {
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto;
  margin-bottom: 100px;
}

.container-new-form {
  width: 600px;
  margin: auto;
}

.button-div {
  text-align: center;
}

.btn-new {
  text-align: center;
  background-color: #ffb700;
  padding: 8px;
  border: none;
  // box-shadow: ;
  border-radius: 15px;
  color: white;
  width: 114.53px;

}

.btn-new:hover {
  transition: 0.5s;
  background-color: #ffa200;
}

.sign-up {
  color: white;
  text-align: center;
  margin-top:100px;
}

.shared-links {
  padding-top: 10px;
  text-align: center;
}

.btn-reset {
  text-align: center;
  background-color: #ffb700;
  padding: 8px;
  border: none;
  // box-shadow: ;
  border-radius: 15px;
  color: white;

}

.btn-reset:hover {
  transition: 0.5s;
  background-color: #ffa200;
}

.btn-show {
  text-align: center;
  background-color: #ffb700;
  padding: 8px;
  border: none;
  // box-shadow: ;
  border-radius: 15px;
  color: white;
  width: 100px;

}

.btn-show-delete{
  text-align: center;
  background-color: red;
  padding: 8px;
  border: none;
  // box-shadow: ;
  border-radius: 15px;
  color: white;
  width: 100px;
}

.btn-show:hover {
  transition: 0.5s;
  background-color: #ffa200;
}
