.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  border-radius: 10px;
  margin-left:10px;
  margin-bottom:10px;
  width: 400px;
  padding-top: 30px;
}

h1 {
  margin-left: 10px;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 5px;
  min-height: 50px;
}

.my-custom-img {
  border-radius: 10px;
  display: block;
  max-width:3500px;
  max-height:400px;
  width: 400px;
  height: auto;
  margin: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-product-booking {
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width:3500px;
  max-height:400px;
  width: 400px;
  height: auto;
}

.container {
  margin: 40 auto;
}

.showpage-container {
  display: flex;
  justify-content: center;
}

.my-customised-settings {
  height: 399px;
  position: sticky;
  top: 133px;
  margin-left: 5px;
}
