<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.nicepng.com/png/detail/977-9778909_bathroom-icon-png-public-toilet-banner.png);">
  <div class="container">
    <h1>Le Squat aims to let YOU choose where you squat!</h1>
    <p>Take a poop anywhere and anytime you want in strangers toilets!!</p>
    <%= link_to "See where you can squat here!", toilets_path, class: "btn btn-flat" %>
  </div>
</div>
