<% @toilets.each do |toilet| %>
  <%= link_to toilet_path(toilet) do %>
        <div>
          <strong><%= toilet.name %></strong>
          <br><%= toilet.description %>
          <br><p>price: <%= toilet.price %></p>
        </div>
  <% end %>
<% end %>
