<h1>This is my toilet show page</h1>
<<<<<<< HEAD
<%= link_to "Delete",
  toilet_path(@toilet),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
=======
<%# put picture here %>
<ul>
  <li><%= @toilet.name %></li>
  <li><%= @toilet.description %></li>
  <li><%= @toilet.price %></li>
</ul>
>>>>>>> 811aae603765294cbd4f71cc748da1db3ef99a75
